@font-face {
    font-family: 'rawk-brush';
    src: url('rawkbrush-ywlym-webfont.woff2') format('woff2'),
         url('rawkbrush-ywlym-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}